In [1]:
import pandas as pd

In [4]:
theFile="../datasets/oregon_2017.csv"

In [70]:
firstTryDf=pd.read_csv(theFile, index_col=None)

In [51]:
firstTryDf.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD53,HD02_VD53,HD01_VD54,HD02_VD54,HD01_VD55,HD02_VD55,HD01_VD56,HD02_VD56,HD01_VD57,HD02_VD57
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Male:,Margin of Error; Male:,Estimate; Male: - Under 6 years:,Margin of Error; Male: - Under 6 years:,Estimate; Male: - Under 6 years: - With health...,...,Estimate; Female: - 65 to 74 years: - With hea...,Margin of Error; Female: - 65 to 74 years: - W...,Estimate; Female: - 65 to 74 years: - No healt...,Margin of Error; Female: - 65 to 74 years: - N...,Estimate; Female: - 75 years and over:,Margin of Error; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - With ...,Margin of Error; Female: - 75 years and over: ...,Estimate; Female: - 75 years and over: - No he...,Margin of Error; Female: - 75 years and over: ...
1,0400000US41,41,Oregon,4102901,1020,2024505,4244,141548,2920,136694,...,223820,1945,936,452,152038,1641,151682,1666,356,262

In [82]:
firstTryTDf=firstTry.T

In [113]:
or17Df=firstTryTDf.reset_index(drop=True)

In [121]:
or17Df.head()

                         0            1
0                       Id  0400000US41
1                      Id2           41
2                Geography       Oregon
3         Estimate; Total:      4102901
4  Margin of Error; Total:         1020

In [144]:
or17Df=or17Df.rename(columns={0:'name',1:'value'})

In [149]:
or17Df[or17Df['name'].str.contains('Estimate')]

                                                  name    value
3                                     Estimate; Total:  4102901
5                                      Estimate; Male:  2024505
7                     Estimate; Male: - Under 6 years:   141548
9    Estimate; Male: - Under 6 years: - With health...   136694
11   Estimate; Male: - Under 6 years: - No health i...     4854
13                    Estimate; Male: - 6 to 18 years:   335077
15   Estimate; Male: - 6 to 18 years: - With health...   321854
17   Estimate; Male: - 6 to 18 years: - No health i...    13223
19                   Estimate; Male: - 19 to 25 years:   182185
21   Estimate; Male: - 19 to 25 years: - With healt...   156682
23   Estimate; Male: - 19 to 25 years: - No health ...    25503
25                   Estimate; Male: - 26 to 34 years:   258265
27   Estimate; Male: - 26 to 34 years: - With healt...   219327
29   Estimate; Male: - 26 to 34 years: - No health ...    38938
31                   Estimate; Male: - 35 to 44 years:   270932
33   Estimate; Male: - 35 to 44 years: - With healt...   235392
35   Estimate; Male: - 35 to 44 years: - No health ...    35540
37                   Estimate; Male: - 45 to 54 years:   254948
39   Estimate; Male: - 45 to 54 years: - With healt...   230265
41   Estimate; Male: - 45 to 54 years: - No health ...    24683
43                   Estimate; Male: - 55 to 64 years:   260696
45   Estimate; Male: - 55 to 64 years: - With healt...   244013
47   Estimate; Male: - 55 to 64 years: - No health ...    16683
49                   Estimate; Male: - 65 to 74 years:   204792
51   Estimate; Male: - 65 to 74 years: - With healt...   203778
53   Estimate; Male: - 65 to 74 years: - No health ...     1014
55                Estimate; Male: - 75 years and over:   116062
57   Estimate; Male: - 75 years and over: - With he...   115787
59   Estimate; Male: - 75 years and over: - No heal...      275
61                                   Estimate; Female:  2078396
63                  Estimate; Female: - Under 6 years:   133842
65   Estimate; Female: - Under 6 years: - With heal...   131009
67   Estimate; Female: - Under 6 years: - No health...     2833
69                  Estimate; Female: - 6 to 18 years:   317648
71   Estimate; Female: - 6 to 18 years: - With heal...   305584
73   Estimate; Female: - 6 to 18 years: - No health...    12064
75                 Estimate; Female: - 19 to 25 years:   180853
77   Estimate; Female: - 19 to 25 years: - With hea...   163714
79   Estimate; Female: - 19 to 25 years: - No healt...    17139
81                 Estimate; Female: - 26 to 34 years:   256602
83   Estimate; Female: - 26 to 34 years: - With hea...   230950
85   Estimate; Female: - 26 to 34 years: - No healt...    25652
87                 Estimate; Female: - 35 to 44 years:   272322
89   Estimate; Female: - 35 to 44 years: - With hea...   248502
91   Estimate; Female: - 35 to 44 years: - No healt...    23820
93                 Estimate; Female: - 45 to 54 years:   257498
95   Estimate; Female: - 45 to 54 years: - With hea...   236623
97   Estimate; Female: - 45 to 54 years: - No healt...    20875
99                 Estimate; Female: - 55 to 64 years:   282837
101  Estimate; Female: - 55 to 64 years: - With hea...   266409
103  Estimate; Female: - 55 to 64 years: - No healt...    16428
105                Estimate; Female: - 65 to 74 years:   224756
107  Estimate; Female: - 65 to 74 years: - With hea...   223820
109  Estimate; Female: - 65 to 74 years: - No healt...      936
111             Estimate; Female: - 75 years and over:   152038
113  Estimate; Female: - 75 years and over: - With ...   151682
115  Estimate; Female: - 75 years and over: - No he...      356

In [ ]:
cuongFile='../Cuong_etlExcelFiles/Ohio_2017.